{% extends 'onlinestore/base.html' %}
{% load static %}

{% block title %}Корзина{% endblock title %}

{% block content %}
<h1>Ваша корзина</h1>
  <table>
     <thead>
       <tr>
         <th>Изображение</th>
         <th>Товар</th>
         <th>Количество</th>
         <th>Удалить</th>
         <th>Цена за 1 шт.</th>
         <th>Общая цена</th>
       </tr>
     </thead>
     <tbody>
        {% for item in items %}
          {% with product=item.product %}
            <tr>
              <td>
                <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}/media/images/no_image.png{% endif %}" width=50 height=50>
                </a>
              </td>
              <td>{{ product.name }}</td>
              <td>
                <!--{{ item.quantity }}-->
                <form action="{% url "cart:cart_update" product.id %}" method="post">
                  {{ item.update_quantity_form.quantity }}
                  <input type="submit" value="Обновить">
                  {% csrf_token %}
                </form>
              </td>
              <td>
                <form action="{% url "cart:cart_remove" product.id %}" method="post">
                  <input type="submit" value="Удалить">
                  {% csrf_token %}
                </form>
              </td>
              <td>{{ item.price }}</td>
              <td>{{ item.total_price }}</td>
            </tr>
          {% endwith %}
        {% endfor %}
        <tr>
          <td>Сумма</td>
          <td colspan="4"></td>
          <td>{{ cart.get_total_price }}</td>
        </tr>
     </tbody>
  </table>
  <p>
    <a href="{% url 'onlinestore:index' %}">Вернуться в магазин</a>
    <a href="#">Заказать</a>
  </p>
{% endblock content %}