@media (max-width: 1300px){
    .product__more{
        margin-top: 60px;
    }
}

@media (max-width: 1200px) {
    .banner-section__slider-img {
        max-width: 600px;
        min-height: 380px;
    }

    .banner-section__inner {
        justify-content: space-around;
    }

    .banner-section__slider {
        max-width: 600px;
    }
    .categories__inner{
        justify-content: space-around;
    }
    .banner-link img{
        width: 100%;
    }
    .catalog__inner-list{
        justify-content: space-around;
    }
}

@media (max-width: 1100px) {
    .menu__item + .menu__item{
        padding-left: 20px;
    }

    .header__address{
        margin-right: 20px;
    }
    .card__input-search{
        margin-right: 0;
    }
    .card__input-searchbtn {
        right: 17px;
    }
}


@media (max-width: 968px){
    .header{
        margin-bottom: 25px;
    }

    .header__bottom{
        display: none;
    }
    .menu__list{
        display: none;
    }

    .menu__btn{
        display: block;
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
    }

    .menu__btn-line{
        background: #2F3035;
        border-radius: 3px;
        width: 34px;
        height: 3px;
        margin: 8px 0;
    }
    .menu__mobile-linewrapper{
        display: block;
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        background: #F0F0F4;
        overflow-x: scroll;
    }

    .menu__mobile-line{
        width: 420px;
        background: #F0F0F4;
        padding: 14px 0 14px 15px;
    }
    .menu-mobile__list--active {
        transform: translateX(0);
    }

    .banner-section__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-section__slider-item{
        text-align: center;
    }

    .banner-section__slider-img {
        max-width: 100%;
    }

    .banner-section__slider {
        max-width: 100%;
        margin-bottom: 25px;
    }
    .mobile-overflow{
        width: 1000px;
    }
    .tabs-wrapper,
    .breadcrumbs__inner,
    .catalog__filter-iteminner{
        overflow-x: scroll;
    }
    .tabs-wrapper.tabs-wrapper--no-scroll{
        overflow-x: hidden;
    }
    .product-card__inner{
        flex-wrap: wrap;
    }
    .product-card__tabs{
        display: none;
    }
    .product-card__content{
        order: -1;
    }
    .product-card__btn--mobile{
        display: block;
        margin-top: 40px;
    }
    .product-card__img-box{
        width: 100%;
    }


}


@media (max-width: 940px){
    .footer__top-inner{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__top-item{
        margin-bottom: 25px;
    }
    .catalog__filter-btn button{
        display: none;
    }
    .catalog__filter-btn{
        margin-top: 30px;
    }
    .catalog__filter{
        display: block;
    }
    .card__top-line label{
        display: block;
        width: 100%;
        margin-bottom: 25px;
        margin-left: 0;
    }
    .card__list-item.card__list-itemtitle{
        display: none;
    }
    .card__list-item{
         display: block;
     }
    .card__list-item div{
        margin-bottom: 15px;
    }
    .card__input-searchbtn{
        top: 10px;
        left: 330px;
    }
}


@media (max-width: 640px){
    .header__address{
        display: none;
    }

    .banner-section__slider-img {
       min-height: 200px;
    }

    .banner-section .container {
        padding: 0;
    }
    .search__content-btn{
        font-size: 0;
        line-height: 0;
        padding: 17px;
        background-image: url(../images/search.svg);
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-repeat: no-repeat;
        position: absolute;
        right: 5px;
        top: 12px;
    }

    .search__content-input{
        height: 50px;
        padding-right: 50px;
    }

    .search__content-form{
        position: relative;
    }
    .search__tabs-item {
        padding: 11px 15px 12px;
    }
    .banner-link__img{
        display: none;
    }

    .banner-link__imgmobile{
        display: block;
    }
    .catalog__inner{
        flex-wrap: wrap;
    }
    .aside__btn{
        display: block;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        padding: 15px 0;
        width: 100%;
        margin-bottom: 30px;
        color: #ffffff;
        background-color: #1c62cd;
        font-size: 16px;
        line-height: 19px
    }
    .aside-filter{
        display: none;
    }
    .product-card__title{
        font-size: 20px;
        line-height: 24px;
    }
    .product-card__img{
        width: 100%;
    }
    .product-card__buttons a + a{
        margin-left: 10px;
    }
}

@media (max-width: 550px){
    .footer{
        background: #F9F9FC;
    }
    .footer__top-item{
        width: 100%;
        border-bottom: 2px solid #F0F0F4;
    }
    .footer__bottom{
       flex-direction: column;
        align-items: start;
    }
    .footer__bottom-link{
        margin-bottom: 12px;
    }
    .footer__top-inner{
        justify-content: start;
    }
    .footer__top-social.footer__top-item{
        width: 100%;
        border-bottom: none;
        margin-top: 41px;
    }
    .social-list{
        justify-content: center;
    }
    .footer__top-newslatter.footer__top-item{
        margin-right: auto;
        margin-left: auto;
        width: 290px;
        text-align: center;
    }
    .footer-list{
        height: 0;
        overflow: hidden;
    }

    .footer-list--active.footer-list{
        height: auto;
    }


    .footer__top-title.footer__topdrop{
        font-family: 'SFProDisplay-Semibold', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #7F7F7F;
        padding: 15px 0;
    }
    .footer__top-itemdrop{
        margin-bottom: 0;
        position: relative;
    }
    .footer__topdrop::after{
        content: "";
        position: absolute;
        background-image: url(../images/arrow-down.svg);
        background-repeat: no-repeat;
        width: 12px;
        height: 8px;
        top: 21px;
        right: 13px;
        transform: rotate(0deg);
    }
    .footer__topdrop--active::after{
        transform: rotate(180deg);
    }
    .footer__topdrop{
        pointer-events: auto;
    }


}


@media (max-width: 440px) {
    .banner-section__slider-img {
        min-height: 164px;
    }
    .categories__item{
        padding: 20px 10px 16px;
    }
    .pagination-list__item{
        margin: 0;
    }
    .card__input-search{
        margin-top: 5px;
        margin-left: 0;
        display: block;
    }

    .card__input-searchbtn{
        top: 35px;
        left: 244px;
    }

}
