<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}Интернет-магазин{% endblock title %}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

</head>

<body>
  <p>
    {% with cart.get_total_quantity as total_quantity %}
      {% if total_quantity > 0 %}
        Ваша корзина:
        <a href="{% url 'cart:cart_detail' %}">
          {{ total_quantity }} товаров,
          {{ cart.get_total_price }} р.
        </a>
      {% else %}
        Ваша корзина пуста
      {% endif %}
    {% endwith %}
  </p>
  <script src="#"></script>
  {% block content %}{% endblock content %}
</body>
</html>