{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Document{% endblock title %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'onlinestore:main' %}">
                <img src="{% static 'onlinestore/images/logo.svg' %}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'onlinestore:main' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                        Cart <i class="bi bi-cart2"></i>
                        {% with cart.get_total_quantity as cart_total_quantity %}
                            {% if cart_total_quantity > 0 %}
                                <span class="badge bg-secondary">{{ cart_total_quantity }}</span>
                            {% endif %}
                        {% endwith %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container pt-3">
        <ul class="nav nav-fill justify-content-center bg-light">
            {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link link-dark" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

</header>

<main>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</main>

<footer class="footer bg-light mt-3">
    <div class="container bg-light">
        <div class="row">
            <div class="col-md-3">
                <p class="fw-bold">Подпишитесь на нашу рассылку и узнавайте об акциях первыми</p>
                <form class="d-flex" method="post">
                    <input class="form-control me-2 bg-light" name="email" type="text" placeholder="Введите ваш e-mail">
                    <button class="btn btn-outline-success" type="submit">Подписаться</button>
                </form>
            </div>
            <div class="col-md-3">
                <p class="fw-bold">Информация</p>
                <ul>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Акции</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="fw-bold">Интернет-магазин</p>
                <ul>
                    <li><a href="#">Доставка и самовывоз</a></li>
                    <li><a href="#">Оплата</a></li>
                    <li><a href="#">Новости</a></li>
                </ul>
            </div>
            <div class="col-md-3 d-flex">
                <div class="row align-self-center">
                    <div class="col">
                        <a href="#"><img src="{% static 'onlinestore/images/instagram.svg' %}" alt=""></a>
                    </div>
                    <div class="col">
                        <a href="#"><img src="{% static 'onlinestore/images/vk.svg' %}" alt=""></a>
                    </div>
                    <div class="col">
                        <a href="#"><img src="{% static 'onlinestore/images/facebook.svg' %}" alt=""></a>
                    </div>
                    <div class="col">
                        <a href="#"><img src="{% static 'onlinestore/images/youtube.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-center pb-4">
            <div class="row">
                <div class="col">
                    <a href="#" class="text-muted"><sub>Договор оферты</sub></a>
                </div>
                <div class="col">
                    <a href="#" class="text-muted text-nowrap"><sub class="">Политика обработки персональных данных</sub></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>