{% extends 'onlinestore/base.html' %}
{% load static %}
{% load onlinestore_tags %}

{% block title %}Онлайн магазин{% endblock title %}

{% block content %}

<div class="row mt-5 justify-content-between gy-4">
    <div class="col-lg-7">
        <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'onlinestore/images/banner-slider.jpg' %}" class="d-block w-100" alt="Banner slider">
            </div>
            <div class="carousel-item">
                <img src="{% static 'onlinestore/images/banner-slider.jpg' %}" class="d-block w-100" alt="Banner slider">
            </div>
            <div class="carousel-item">
                <img src="{% static 'onlinestore/images/banner-slider.jpg' %}" class="d-block w-100" alt="Banner slider">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
        </div>
    </div>
    {% if sale_item %}
    <div class="col-lg-3">
        <div class="card">
            <img class="card-img-top img-fluid align-self-center" style="width: 13rem;" alt="Product image"
                    src="{% if sale_item.image %}{{ sale_item.image.url }}{% else %}{% static 'onlinestore/images/no-product-image.png' %}{% endif %}">
            <div class="card-body">
                <h4 class="card-title">{{ sale_item.name }}</h4>
                <h5 class="card-subtitle">
                    <p class="pt-3">
                        <span class="text-muted fs-6 text-decoration-line-through">{{ sale_item.price }} ₽ </span>
                    </p>
                    <p class="text-primary fs-4">
                        {{ sale_item.discount_price }} ₽
                    </p>
                    <span class="badge bg-primary fs-5">Sale &nbsp -{{ sale_item.discount_percentage }} %</span>
                </h5>
                <a href="{{ sale_item.get_absolute_url }}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<ul class="nav nav-tabs mt-5" id="searchTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="brand-tab" data-bs-toggle="tab" href="#brand" role="tab" aria-controls="Search by brand" aria-selected="true">Поиск по марке</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="name-tab" data-bs-toggle="tab" href="#name" role="tab" aria-controls="Search by name" aria-selected="false">Поиск по названию</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="brand" role="tabpanel" aria-labelledby="brand-tab">
        <form class="d-flex" action="{% url 'onlinestore:search' option='brand' %}" method="get">
            <input class="form-control me-2 bg-light" name="query" type="search" placeholder="Введите марку">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
    </div>
    <div class="tab-pane fade" id="name" role="tabpanel" aria-labelledby="name-tab">
        <form class="d-flex" action="{% url 'onlinestore:search' option='name' %}" method="get">
            <input class="form-control me-2 bg-light" name="query" type="search" placeholder="Введите название">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-md-5 justify-content-between mt-5">
    {% for category in categories %}
    <div class="col position-relative">
        <div class="row h-100 w-100 border rounded shadow-sm">
            <div class="col-6">
                <h5 class="p-4">{{ category.name }}</h5>
            </div>
            <div class="col-6">
                <img class="img-fluid p-2" src="{{ category.image.url }}" alt="Category image"/>
            </div>
            <a href="{{ category.get_absolute_url }}" class="stretched-link"></a>
        </div>
    </div>

    {% endfor %}
</div>

<div class="my-5">
    <h2 class="pb-2">Популярные товары</h2>
    <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 g-4">
        {% for product in popular_products|slice:":4" %}
            <div class="col">
            {% product_item product %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}