{% extends 'onlinestore/base.html' %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}
    <h1>{{ product.name }}</h1>

    {% if product.image %}
        <img src="{{ product.image.url }}" alt="Product image" width=400 height=400>
    {% else %}
        <img src="/media/images/no_image.png" alt="Product image" width=400 height=400>
    {% endif %}

    <p>Категория: {{ product.category.name }}</p>
    <p>Цена: {{ product.price }} ₽<p>

    <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Добавить в корзину">
    </form>

    <h2>Описание</h2>
    <p>{{ product.description|linebreaks }}</p>
{% endblock content %}