{% extends 'onlinestore/base.html' %}
{% load static %}
{% load onlinestore_tags %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}

<nav class="pt-5" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'onlinestore:main' %}">Главная</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="{{ product.category.get_absolute_url }}">
                {{ product.category.name }}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ product.name }}
        </li>
    </ol>
</nav>

<div class="row my-5">
    <div class="col-lg-6">

    {% if product.sale %}
        <h3><span class="badge bg-primary fw-light">sale</span></h3>
    {% endif %}
        <img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'onlinestore/images/no-product-image.png' %}{% endif %}">

        <div class="container d-flex justify-content-center">
            <div class="row flex-column">
            {% if product.sale %}
                <div class="col d-flex justify-content-end">
                    <h3 class="text-muted fs-6 text-decoration-line-through pt-3 justify-self-center">{{ product.price }} ₽</h3>
                </div>
            {% endif %}
                <div class="col d-flex">
                    <h2 class="fw-bold">
                        {{ product.current_price }} ₽
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h2>{{ product.name }}</h2>
        <h6 class="text-muted">Код товара: {{ product.id }}</h6>
        <h4>Характеристики</h4>
        <table class="table">
            <tbody>
                <tr>
                    <td>Страна-роизводитель</td>
                    <td>{{ product.get_manufacturer_country_display }}</td>
                </tr>
                <tr>
                    <td>Марка</td>
                    <td>{{ product.brand.name }}</td>
                </tr>
                <tr>
                    <td>Модель</div>
                    <td>{{ product.model_name }}</td>
                </tr>
                <tr>
                    <td>Количество мест, шт: </td>
                    <td>{{ product.number_of_seats }}</td>
                </tr>
                <tr>
                    <td>Мощность, л.с.</td>
                    <td>{{ product.engine_power }}</td>
                </tr>
                <tr>
                    <td>Тип двигателя</td>
                    <td>{{ product.get_engine_type_display }}</td>
                </tr>
                <tr>
                    <td>Год выпуска</td>
                    <td>{{ product.year_of_issue }}</td>
                </tr>
            </tbody>
        </table>
        {% if is_in_cart %}
            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary">Убрать из корзины</button>
            </form>
        {% else %}
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Добавить в корзину</button>
            </form>
        {% endif %}
    </div>
</div>

{% endblock content %}
