{% load static %}

<div class="products__inner">
    {% if title %}
    <h3 class="product__title">{{ title }}</h3>
    {% endif %}
    <div class="product-slider">
        {% for product in product_slider_list %}
            <div class="product-slider__item {% if not product.available %}product-item__not-available{% endif %}">
                <div class="product-item__wrapper {% if not product.available %}product-item__not-available{% endif %}">
                    <button class="product-item__favorite">
                    </button>
                    <button class="product-item__basket">
                        <img src="{% static 'onlinestore/images/basket-white.svg' %}" alt="">
                    </button>
                    <a href="" class="product-item__notify-link">
                        <span>Сообщить о поступлении</span>
                    </a>
                    <a  class="product-item {% if product.sale %}product-item--sale{% endif %}" href="{{ product.get_absolute_url }}">
                        <p class="product-item__hover-text">посмотреть товар</p>
                        <img class="product-item__img" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'onlinestore/images/no-product-image.png' %}{% endif %}" alt="">
                        <h4 class="product-item__title">{{ product.name }}</h4>
                        <p class="price product-item__price">{{ product.current_price }} ₽</p>
                        <p class="product-item__notify-text">нет в наличии</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>