{% extends 'onlinestore/base.html' %}

{% block title %}
    {% if category %}
        {{ category }}
    {% else %}
        Все товары
    {% endif %}
{% endblock title %}

{% block content %}
    {% if category %}
        <h2>{{ category }}</h2>
    {% else %}
        <h2>Все товары</h2>
    {% endif %}

    {% for product in products %}
        <a href="{{ product.get_absolute_url }}"> 
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="Product image" width=200 height=200>
            {% else %}
                <img src="/media/images/no_image.png" alt="Product image" width=200 height=200>
            {% endif %}
        </a>
        <a href="{{ product.get_absolute_url }}"> 
            <p>{{ product.name }}</p>
        </a>
        <p>{{ product.price }} ₽</p>
    {% endfor %}
{% endblock content %}