{% extends 'onlinestore/base.html' %}
{% load static %}

{% block title %}{{ category.name }}{% endblock title %}

{% block content %}

<section class="catalog">
    <div class="container">

        <h2 class="catalog__title">
            {{ query_text }}
        </h2>

        <div class="catalog__inner">
            <div class="catalog__inner-list">
                {% for product in page_obj %}
                    
                    <div class="product-item__wrapper {% if not product.available %}product-item__not-available{% endif %}">
                        <button class="product-item__favorite">
                        </button>
                        <button class="product-item__basket">
                            <img src="{% static 'onlinestore/images/basket-white.svg' %}" alt="">
                        </button>
                        <a href="" class="product-item__notify-link">
                            <span>Сообщить о поступлении</span>
                        </a>
                        <a  class="product-item {% if product.sale %}product-item--sale{% endif %}" href="{{ product.get_absolute_url }}">
                            <p class="product-item__hover-text">посмотреть товар</p>
                            <img class="product-item__img" src="{{ product.image.url }}" alt="">
                            <h4 class="product-item__title">{{ product.name }}</h4>
                            <p class="price product-item__price">{{ product.current_price }} ₽</p>
                            <p class="product-item__notify-text">нет в наличии</p>
                        </a>
                    </div>
                {% empty%}
                    <h2>Ничего не найдено :(</h2>
                {% endfor %}

                {% if page_obj.has_other_pages %}
                    <div class="pagination">
                        <ul class="pagination-list">

                            {% if page_obj.has_previous %}
                                <li class="pagination-list__item"><a href="?page={{ page_obj.previous_page_number }}">Предыдующая страница</a></li>
                            {% endif %}

                            {% for page_num in page_obj.paginator.page_range %}
                                {% if page_num == page_obj.number %}
                                    <li class="pagination-list__item active">{{ page_obj.number }}</li>
                                {% else %}
                                    <li class="pagination-list__item"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="pagination-list__item"><a href="?page={{ page_obj.next_page_number }}">Следующая страница</a></li>
                            {% endif %}

                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}